[2021-06-16 14:51] rgommers opened #20 "Using ninjatracing to profile build performance"
This is quite a nice tool: https://github.com/nico/ninjatracing/blob/master/ninjatracing. It's Apache 2 licensed, so we cannot just vendor it. But usage is quite easy. Simply save that file as `ninjatracing.py` and run:
[code]
Then load `trace.json` in https://ui.perfetto.dev (or in Chrome) to obtain:

<img width="765" alt="image" src="https://user-images.githubusercontent.com/98330/122240072-c390

[2021-06-17 03:13] czgdp1807 commented on #20
Thanks @rgommers I will try looking into this. I think it depends on shifting the build system to `meson`, right?

[2021-06-17 07:19] rgommers commented on #20
I changed my mind on this one. The file doesn't get installed, so there's no problem adding it under `tools/`. Done now in the `meson` branch.

Yes, usage is:
[code]
And then load that trace file into the link above or into Chrome.

[2021-06-17 07:19] rgommers commented on #20
`setuptools` has no such profiling facility indeed.

[2021-06-19 16:37] rgommers opened #22 "Tracking issue for Meson support of submodules"
Here is a list to keep track of where we are with adding Meson support. An "`x`" means _"has a `meson.build` file that's mostly complete; some `TODO` or `FIXME` items may be left")._

- [x] `_lib`
- [x] `cluster`
- [x] `constants`
- [x] `fft`
- [x] `fftpack`
- [x] `integrate`
- [x] `interpolate`
- [x] `io`
- [x] `linalg`
- [x] `misc`
- [x] `ndimage`
- [x] `odr`
- [x] `optimize`
- [x] `signal`
- [x

[2021-06-19 18:38] rgommers commented on #20
`sparsetools` is a bit heavy .... that is what it is for now:

<img width="768" alt="image" src="https://user-images.githubusercontent.com/98330/122652250-1a0a6b00-d13e-11eb-8d9f-5fc2ea0a15d6.png">

[2021-06-23 08:12] czgdp1807 commented on #22
I will be working on adding `stats` module. Thanks.

[2021-06-26 05:24] czgdp1807 commented on #22
I will pick up `spatial` module next. Many modules seem to depend on it.

[2021-06-26 08:18] rgommers commented on #22
Indeed. Sounds good. I will have a go at `special`.

[2021-06-26 10:49] rgommers opened #25 "Don't use `run_command` for building `cython --cplus` code"
This is now done in `scipy.stats`, see https://github.com/rgommers/scipy/pull/23#issuecomment-868983390. It should be using `custom_target`, not `run_command`.

[2021-06-26 10:52] czgdp1807 commented on #25
Thanks for opening the issue. I will open a PR on Monday to fix this.

[2021-06-27 00:58] rgommers commented on #25
It was bothering me, since on each `ninja` invocation it was rebuilding all those files. So I had a look, and it's mostly fixed in gh-27.

[2021-06-27 14:34] rgommers commented on #25
fixed in gh-27

[2021-06-27 14:34] #25 closed

[2021-06-27 15:05] rgommers commented on #20
Now with `stats` and `special` included:

<img width="773" alt="image" src="https://user-images.githubusercontent.com/98330/123549519-bdc0d000-d769-11eb-8964-0b264fc35f97.png">

[2021-06-27 15:15] rgommers commented on #20
Ah, `ninja` is using too many threads by default. It chooses 26 on a 12-core Intel CPU, so `2*n + 2` with `n` the amount of physical cores.

If I build with `-j 12` (limit the number of threads to the number of physical cores), it's faster:

<img width="772" alt="image" src="https://user-images.githubusercontent.com/98330/123549729-84d52b00-d76a-11eb-94b7-89b267820b41.png">

And with `-j 8`:

<img

[2021-06-30 08:55] czgdp1807 commented on #22
I will work on `sparse.linalg`. Refer - https://github.com/rgommers/scipy/pull/28#issuecomment-871218295

[2021-06-30 10:16] rgommers commented on #22
We have a working CI job now.

[2021-07-02 10:37] czgdp1807 commented on #22
Note - I can keep working on adding modules along with other things as that part happens quickly (mostly everything is setup already, just `meson.build` files are required to be added). Though, I will not be able to work on infrastructure part like, testing and fixing things on different architectures and OSes. Thanks.

[2021-07-02 10:38] czgdp1807 commented on #22
Next module - `interpolate`. Let me know if it works.

[2021-07-02 11:42] rgommers commented on #22
Sounds great, thanks @czgdp1807!

[2021-07-03 10:46] rgommers commented on #22
@Smit-create do you want to add Meson support to `misc`? It should be straightforward, the purpose of doing this is to get familiar with the Meson build system and building SciPy.

To start, I suggest:
- read https://github.com/rgommers/scipy/blob/meson/MESON_BUILD.md and the first parts of the Meson docs
- look at another submodule for an example, e.g. `scipy/fft/meson.build`
- once it works, ena

[2021-07-03 11:00] rgommers opened #30 "Removing use of deprecated NumPy C API from SciPy"
SciPy uses the NumPy C API. Part of that C API is deprecated, and if an extension in SciPy still uses it then a build warning is emitted. The deprecated API uses direct field access (e.g. `x->data`) while the new API uses macros (e.g. `PyArray_DATA(x)`). We want to get rid of all deprecated API usage as much as possible.

For an example of what the warning looks like, see https://github.com/scipy/

[2021-07-03 12:15] Smit-create commented on #22
Yes, I will refer to the docs and try to take it up. Thanks!

[2021-07-04 13:57] rgommers opened #31 "Cython build issues in combination with generated sources"
There's multiple places where we can't express dependencies correctly, or we can but they go missing. I filed one issue upstream: https://github.com/mesonbuild/meson/issues/8961.

Extensions that have problems:

###  `scipy.special._ufuncs`
[code]

### `scipy.linalg._decomp_update`

If we build without expressing the dependency on `cython_blas.pxd`:
[code]
And if we add it, that doesn't seem suppo

[2021-07-04 14:22] rgommers commented on #31
The problem in both cases is missing files in the `build/` directory. A workaround is to copy them over manually, then re-run the build. Once the build works once, it will keep working until you do `git clean -xdf`.

So:
[code]

[2021-07-04 14:50] rgommers commented on #31
@Smit-create maybe one of these was your problem? If so, the workaround should help.

[2021-07-04 16:19] rgommers opened #32 "Try to build with ASAN and document how to get useful output"
_This isn't important now, I was just curious so documenting for later when we want to look into it more._

Building with ASAN is easy with Meson, in principle: https://mesonbuild.com/howtox.html#use-address-sanitizer

Python itself leaks badly, so you need a suppression file. Following what this blog does works: https://tobywf.com/2021/02/python-ext-asan/

Then you may see `<unknown module>` in t

[2021-07-04 16:26] rgommers opened #33 "Investigate if the build time of the `sparsetools` extension can be improved"
https://github.com/rgommers/scipy/issues/20#issuecomment-869179611 shows that the two slowest files to build are `sparse/bsr.cxx` (~90 sec) and `sparse/csr.cxx` (~70 sec). `bsr.cxx` includes the `csr` routines, so it's basically building the same thing twice. It should be investigated if this can be improved.

We are interested in two things:
- Single file build time (this is the limiting factor w

[2021-07-04 17:07] Smit-create commented on #31
I had the following error:
[code]

When, I removed `cython` as the 1st language just to check whether it works without it, I get:
[code]

[2021-07-04 19:00] rgommers commented on #31
Ah, that does mean you have an old version, it says you're using meson `0.58.1`. If you had installed from the `master` branch, you'd be at `0.58.999` (it is what I have locally, and it is the version number at https://github.com/mesonbuild/meson/blob/master/mesonbuild/coredata.py#L46). You can either use:
[code]
or you can just clone the repo and locally run `pip install .` in the root of the rep

[2021-07-06 09:02] Smit-create commented on #22
Yes, will pick that up next.

Thanks, I will look at them.

[2021-07-06 13:07] czgdp1807 commented on #22
Hi. Once I complete `interpolate` then I will be taking up `io`. Just dropping in here for information. Thanks.

[2021-07-06 18:57] rgommers opened #36 "tracking issue topics Smit"
Hi @Smit-create, as we talked about on the weekend, let's keep a list of topics and ideas that would be interesting to work on.

- [x] https://github.com/rgommers/scipy/issues/22 (`misc`, `io`, maybe there's more later)
- [x] https://github.com/rgommers/scipy/issues/30
- https://github.com/rgommers/scipy/issues/33 (this may be a challenging one)
- [x] fixing build warnings in the SciPy code base t

[2021-07-08 21:24] rgommers commented on #22
All submodules complete! I'm going to have a go at squashing the last Cython related dependency issues, and then (fingers crossed) the whole test suite will run.

[2021-07-09 02:08] Smit-create commented on #30
Should I now start working on fixing deprecated C API?

[2021-07-09 04:39] Smit-create commented on #30
Should this be removed now?
https://github.com/rgommers/scipy/blob/bd217f6b2996fd145e93d036ff3cd0e3f4db5f29/scipy/integrate/meson.build#L84-L87

It seems to be fixed in https://github.com/scipy/scipy/pull/14268

The build doesn't produce any warnings now.

[2021-07-09 06:40] rgommers commented on #30
Yes, good catch!

That sounds good. I also recommend spending some time on working through the Python and NumPy C API tutorials - it will be quite helpful for several topics you may be working on:
- https://docs.python.org/3/extending/index.html
- https://numpy.org/devdocs/user/c-info.how-to-extend.html

[2021-07-10 18:02] Smit-create commented on #30
I think we can also remove this:
https://github.com/rgommers/scipy/blob/bd217f6b2996fd145e93d036ff3cd0e3f4db5f29/scipy/interpolate/meson.build#L153-L155

The build passed without any warnings.

[2021-07-10 20:25] rgommers commented on #30
It doesn't for me, all flags are necessary.

[2021-07-11 03:46] Smit-create commented on #30
Oops, Sorry!

So here `pythran` is generating `.cpp` file from `/interpolate/_rbfinterp_pythran.py` by itself. When using `numpy_nodepr_api` here raises deprecated warning:
[code]
This is basically from here: https://github.com/serge-sans-paille/pythran/blob/master/pythran/pythonic/python/core.hpp

So, doesn't require any fix in `interpolate` right?

[2021-07-11 11:47] rgommers commented on #30
That sounds right. I didn't realize Pythran defined `NPY_NO_DEPRECATED_API`, but that's good - we don't have to do it then.

[2021-07-12 02:42] Smit-create commented on #30
Presently, I get following modules that use `Wno-cpp`. Let's keep a track of completed ones:
[code]
- [ ] `optimize`
- [ ] `sparse`
- [x] `integrate`
- [ ] `signal`
- [ ] `stats`
- [ ] `spatial`
- [x] `interpolate`

[2021-07-15 03:33] Smit-create commented on #30
@rgommers Can you please rebase `meson` branch with scipy `master` branch so that I can push the warnings that have been fixed?

[2021-07-15 08:10] rgommers commented on #30
Sure, done

[2021-07-18 13:30] rgommers commented on #20
Now that the build is 100% complete, let's add the final results.

8 jobs:

<img width="764" alt="image" src="https://user-images.githubusercontent.com/98330/126068529-f23b4843-e4f0-45ab-84ab-317f672862b4.png">

12 jobs:

<img width="765" alt="image" src="https://user-images.githubusercontent.com/98330/126068733-9a3a7558-b273-40eb-9a76-c16bab5c4cf8.png">

This is with GCC 9.3.0 and standard build

[2021-07-18 13:30] #20 closed

[2021-07-19 15:49] rgommers opened #42 "Investigating and fixing build warnings"
There are a lot of silenced build warnings that _may_ indicate there's a bug hidden there. So we should investigate and fix those. There are a number of fairly harmless ones, but sometimes there are real bugs. So let's focus on those. For example, `-Wmaybe-uninitialized` warnings can lead to bugs for certain types of input (e.g., size 0 or 1 array). And if they're not bugs, then they are often eas

[2021-07-19 15:58] rgommers opened #43 "Tackling some `sepfir2d` improvements"
From https://github.com/scipy/scipy/pull/14367#issuecomment-877647046:

There are a couple of issues (2 open, 2 closed) about `sepfir2d`, so it does get usage. Now that we've looked into this and found some of the problems, it makes sense to fix them. This could turn into a bit of a project though, so let's not try to do it all in this PR. @Smit-create I suggest the following:

- This PR: incorpor

[2021-07-21 17:42] rgommers opened #44 "CI status does not turn red when test suite fails"
See https://github.com/rgommers/scipy/runs/3125263304?check_suite_focus=true. The test suite had four failures, but the CI status is green on that job. We're missing some toggle somewhere. In SciPy's CI we use `python runtests.py ...` which I think sets exist status on failure. In the CI job on this fork (in `.github/workflow/linux.yml` we're running `python -c "import scipy; scipy.test()"` instea

[2021-07-21 17:47] rgommers opened #45 "Four test failures on the `meson` branch"
These are the failures currently (from https://github.com/rgommers/scipy/runs/3125263304?check_suite_focus=true):

[code]

Detailed tracebacks:

<details>

[code]

</details>

I'm seeing three of those locally, as mentioned in the description of https://github.com/rgommers/scipy/pull/39. @czgdp1807 is seeing none of them.

@Smit-create could you try this as well? Install Meson from https://github.

[2021-07-21 18:16] Smit-create commented on #45
Yeah, I will check them locally.

[2021-07-21 19:16] rgommers commented on #45
Maybe a difference in dependencies, compilers, or OS. I'm using Python 3.9 from conda-forge, with conda compilers. `conda list` output:

<details>

[code]

</details>

[2021-07-22 04:10] Smit-create commented on #45
I had the following errors:

[code]

<details>
<summary>More Detailed</summary>
<p>

[code]

</p>
</details>

[2021-07-22 04:41] czgdp1807 commented on #45
I observed no failures. Following are the test logs and conda environment details,

<details>
<summary>Test Logs</summary>
<br>
<pre>
============================================================== test session starts ===============================================================
platform linux -- Python 3.9.4, pytest-6.2.4, py-1.10.0, pluggy-0.13.1
rootdir: /home/czgdp1807ssd/scipy_project/meson_

[2021-07-22 20:11] #44 closed

[2021-07-22 21:36] rgommers commented on #45
Confirmed, this passes for me with numpy `1.20.3` and fails with `1.21.0`.

- Source file: https://github.com/rgommers/scipy/blob/meson/scipy/integrate/tests/banded5x5.f
- Autogenerated `.pyf` file (no manual changes made whatsoever): https://github.com/rgommers/scipy/blob/meson/scipy/integrate/tests/banded5x5.pyf

This is the one case in SciPy where a `.f` file was missing a signature file. `nump

[2021-07-22 21:52] melissawm commented on #45
Oof. It looks like the entire code is missing from the new version of `_test_odeint_bandedmodule.c`, seems like f2py did not run correctly. Would it be super difficult for me to reproduce this locally?

[2021-07-22 22:02] rgommers commented on #45
Probably not. If you just want to do the codegen step with `f2py`, then grabbing `banded5x5.f` and `banded5x5.pyf` linked above should be enough.

If you want to reproduce the failures:
[code]

[2021-07-23 14:47] rgommers opened #48 "Meson doesn't work with the clang+gfortran combo on arm64 macOS"
An attempted build will immediately fail with:
[code]

Related issue: https://github.com/conda-forge/gfortran_osx-64-feedstock/issues/11. Trying that "fake `cc1`" workaround does not make a difference. The issue is that Meson expects that if you're using `gfortran`, you are also using `gcc`. It tries to execute `gfortran -E -dm -` at https://github.com/mesonbuild/meson/blob/61993f893bbdc2415155e28

[2021-07-23 15:10] melissawm commented on #45
Ok - I suffered a bit but managed to reproduce three of the failures locally with NumPy 1.21.1 after installing boost-cpp and pkg-config in addition to the environment.yml file (thanks @czgdp1807 for the help!)

[code]

I'll investigate this later today.

[2021-07-23 17:37] rgommers commented on #45
Oops sorry, added `pkg-config` to `environment.yml`.

`boost-cpp` shouldn't be needed. Maybe you tried this in a new clone of the scipy repo, and hadn't run `git submodule update --init` yet? Should have added that to the instructions I guess - it's needed for any SciPy build when you use a new clone.

[2021-07-23 17:42] rgommers commented on #45
The `test_cont_basic[500-200-ncf-arg74` is unrelated and is fixed by https://github.com/rgommers/scipy/pull/49. Shining some light on the two `test_odeint_jac.py` failures would be awesome, thanks @melissawm.

[2021-07-24 05:05] melissawm commented on #45
Can you try removing the `block -- end block` part from your pyf file? There is something going on with parsing the pyf file - I'll take a deeper look tomorrow but this gets all tests passing for now.

[2021-07-24 05:11] czgdp1807 commented on #45
If your fix works and resulting `.c` file doesn't have any significant differences then may be that should be it? I will verify today and post the results here. Thanks.

[2021-07-24 05:44] pearu commented on #45
When f2py does not generate what is expected, the first place to look at would be the output of f2py messages.

Unfortunately, numpy testing support suppresses f2py output messages. To work around this, insert
[code]
after https://github.com/numpy/numpy/blob/c3d1107b8931313c85947439c406dab98ebfc8ea/numpy/f2py/tests/util.py#L290

[2021-07-24 05:53] pearu commented on #45
In case f2py is executed during the scipy build, the build logs would be the place to look at for f2py output messages (and ignore my last comment re numpy testing support).

[2021-07-24 08:16] czgdp1807 commented on #45
I checked without `block data` the contents of `.c` file generated by 1.20.3 and 1.21.1 is same. Anyways, I think it's not necessary to expose the data via pyf to Python. We just need the subroutines, right?

[2021-07-24 09:44] rgommers commented on #45
Great! Yes, this is just a test file, if the tests pass with removing `block data` we're all good. Want to submit a PR?

[2021-07-24 09:58] czgdp1807 commented on #45
Sure.

[2021-07-24 10:31] rgommers commented on #45
Fixed in the `meson` branch, except for
[code]
which fails occasionally in CI but no one is seeing it locally. Ignoring for now. Closing this issue. Thanks everyone for the help!

[2021-07-24 10:31] #45 closed

[2021-07-25 12:25] Smit-create commented on #42
All the modules are cleaned up (apart from Fortran uninitialized warnings )

[2021-07-27 15:46] matthew-brett commented on #48
I'd like to give that go - can look at it tomorrow (Wednesday 27th July).  If anyone else would prefer to get a clear shot at it instead - please let me know.

[2021-07-27 18:39] dcbaker commented on #48
that `-dm` look really odd, it should be `-dM`, right?

[2021-07-27 18:51] rgommers commented on #48
Yes indeed, that's a typo. It reproduces the error, so I didn't notice. There's no change with `-dM`, still ends in `error: unknown target ABI 'lp64'`:

[code]

[2021-07-27 20:18] dcbaker commented on #48
This sure looks like a bug either in gfortran, or the way gfortran is being compiled. this works perfectly fine for me with gfortran and clang on Linux (no gcc installed).

[2021-07-28 08:10] rgommers commented on #48
Was indeed a gfortran issue, fixed in conda-forge now.

There are other issues for macOS that are due to using build flags or options that aren't portable:
[code]
Those don't really need an open issue, they simply need to be fixed by using more portable code in `meson.build`. So I'll close this.

[2021-07-28 08:10] #48 closed

[2021-08-07 06:28] Smit-create commented on #32
I tried to build with ASan and meson and run the complete test suite. There were few test failures(not sure presently that were due to ASan or any other build problem).

<details>
<summary>Failure 1</summary>
<p>

[code]

</p>
</details>
<details>
<summary>Failure 2</summary>
<p>

[code]

</p>
</details>
<details>
<summary>Failure 3</summary>
<p>

[code]

</p>
</details>
I will next try to figure

[2021-08-07 15:48] Smit-create commented on #42
I was trying to fix https://github.com/scipy/scipy/pull/14442#issuecomment-890372841, but was not able to reproduce the warnings locally.
I removed this flag:
https://github.com/rgommers/scipy/blob/093daa712289839fcf9b1034f2e0337e0a0aa591/scipy/sparse/linalg/dsolve/meson.build#L191

And built  `scipy/sparse/linalg/dsolve` and surprisingly it showed no warnings:
[code]

[2021-08-10 04:36] Smit-create commented on #32
I introduced the memory leaks in one of the files, and asan was able to detect them. I see that the above 3 failures are raised by asan. Can you also please confirm that you get the same errors?
I used:
`meson setup -Db_sanitize=address build --prefix=$PWD/installdir`

[2021-08-13 19:42] rgommers commented on #32
Hi @Smit-create, sorry for the delay in replying. Since I'm on holiday I have no access to my development machine, so I cannot reproduce it right now (at the earliest on Sunday night). When I tried it before it worked without crashes though. These ones are in Matplotlib, and it's possible I used a different version. Can you skip those tests? There should only be a couple of tests in the whole test

[2021-08-16 13:54] Smit-create commented on #32
I am using:
[code]

Yes, then it works fine

[2021-08-18 07:04] Smit-create commented on #32
In order to check if this works fine, I used the following diff:
[code]

And, then used the following commands to build and test on the current meson branch:
1. Using meson ASan: `$ meson setup -Db_sanitize=address build --prefix=$PWD/installdir`
2. ninja build: `$ ninja -C build`
3. Installation: `$ meson install -C build`
4. Python path: `$ export PYTHONPATH=$PWD/installdir/lib/python3.9/site-pa

[2021-08-19 21:37] rgommers commented on #32
Hmm a little surprising, I had to spend more effort getting it to work, and it definitely needed a suppressions file because Python itself was a mess. That said, I do remember getting a more useful traceback. Anyway, let's leave it at this for now.

[2021-08-29 16:53] Smit-create opened #58 "BENCH: Benchmarks with meson optimization levels"
Hi @rgommers,
I have written a CI script for benchmarking and uploading the results to GitHub Actions with meson optimization levels(#36). See: https://github.com/Smit-create/scipy/blob/for_run/.github/workflows/linux.yml

I am uploading results here too: https://drive.google.com/drive/folders/1x9sBoOGLKMf6VWV0jNj0_p6Jgm35HDAM?usp=sharing

I can see many failing/timeout tests in them: https://driv

[2021-08-29 21:09] rgommers commented on #58
Yes that would be useful. If you can add the way to recreate the failure without running the whole test suite (e.g. `python runtests.py --no-build --bench BenchThatsFailing`), that would be useful.

[2021-08-31 20:53] rgommers commented on #30
This is all done except for Cython code, which we don't want to touch right now. So let's close this. Thanks @Smit-create!

[2021-08-31 20:53] #30 closed

[2021-09-01 06:39] #42 closed

[2021-09-07 09:56] rgommers commented on #58
Saving some `runbench.py` current results here. The benchmark timings need an update, because those are now the `asv` runtime, rather than the sum over the actual benchmark results. But the build time and installed size results should be reliable.

(1) Ran it with python runbench.py linalg while building on 10 cores (`-j 10`) and got:

[code]

(2) Ran all but the optimize benchmarks (because those

[2021-09-07 10:16] rgommers commented on #36
For comparing BLAS libraries on the same machine, here's how to easily switch them out with conda: https://conda-forge.org/docs/maintainer/knowledge_base.html#switching-blas-implementation

[2021-09-08 07:14] Smit-create commented on #43
Hi Ralf,
I removed the `GNUC` guards and used `npy_cfloat`/ `npy_cdouble`. There were few errors while building like:

[code]
They are because of binary operators. Are there any built-in functions such that numpy can handle them? Something like I found here: https://github.com/pydata/numexpr/blob/master/numexpr/complex_functions.hpp. Some of them can be useful from here https://github.com/numpy/nu

[2021-09-11 15:51] Smit-create commented on #36
It produces the following error:
[code]
From `$ conda list`, I get:

[code]
Should there be something else to change the build type?

[2021-09-11 16:33] rgommers commented on #36
Ah you're installing from `defaults` (see "Current channels" listed), this feature is specific to `conda-forge`.

[2021-09-11 16:37] rgommers commented on #36
The solve is slow when done in an existing `scipy-dev` environment based on the `environment.yml` in SciPy master, but it does work:

<details>

[code]

</details>

[2021-09-13 01:16] HaoZeke opened #64 "BUG: MacOS Build woes"
### Reproducing Code Example

[code]

### Error message

<details>
<summary> Error log </summary>

[code]

</details>

### SciPy/NumPy/Python version information

[code]

### Other relevant Information

<details>
<summary>Git history (short) </summary>

[code]

</details>

[2021-09-13 01:18] HaoZeke commented on #64
Some more details I couldn't enter during the process.

As conjectured, the `meson` build resolves https://github.com/scipy/scipy/issues/13776.

However, this "error" requires the build to be run several times before it completes. `meson` seems to be having trouble with the order of compilation.

[2021-09-13 13:27] rgommers commented on #64
Hmm the `FileNotFoundError` is quite odd, haven't seen it before. That file does exist. Can you add the output of `conda info` and `conda list`?

[2021-09-13 13:28] rgommers commented on #64
And macOS was working before, but maybe there's something platform-specific here that crept in. We don't have macOS CI yet. Is it with Intel or arm64 CPU?

[2021-09-13 13:47] HaoZeke commented on #64
<img width="961" alt="image" src="https://user-images.githubusercontent.com/4336207/133094761-9f1a9984-71fc-45ec-8671-fd3042477523.png">
--> Yup it is intel.

<details>
<summary>  Conda List </summary>

[code]

</details>

Also, the error goes away by rebuilding, then crops up somewhere else and this continues for around 5 attempts. Eventually it does build though.

[2021-09-13 13:47] HaoZeke commented on #64
I could offer my machine as a runner for sometime @rgommers (say 2:00 -- 7:00 GMT)?

[2021-09-13 14:28] HaoZeke commented on #64
As an example of the stochastic weirdness of this bug... Here are all the errors from a fresh attempt.

## 1st round

[code]

<details>
<summary> Initial setup </summary>

[code]

</details>

<details>
<summary>Error</summary>

[code]

</details>

## 2nd round

[code]

<details>
<summary>Error</summary>
[code]
</details>

## Round 3

This and subsequent rounds are just `meson compile`.

<details>

[2021-09-13 20:39] rgommers commented on #64
Just to make sure, did you install Meson itself from my fork (as documented in https://github.com/rgommers/scipy/blob/meson/MESON_BUILD.md) or from Meson's master branch?

I cannot reproduce this, and it looks to me like these errors have been resolved already. However you are on the correct commit, so not sure what is going on.

Thanks but that's not needed - GitHub Actions offers macOS runners,

[2021-09-13 21:47] HaoZeke commented on #64
Oh fudge. It turns out I was picking up a different `meson` (from a polluted `PATH` variable thanks to `brew`). Closing, sorry for the noise. Works great now.

[2021-09-13 21:47] #64 closed

[2021-09-14 10:35] rgommers commented on #43
There really aren't many examples of complex math, and pretty much everything we do have is in Cython. I'd suggest looking at `scipy/special/_faddeeva.cxx` as the most relevant example here.

[2021-09-16 14:46] rgommers commented on #22
So far this tracking issue focused on what we need specifically for SciPy. There's a number of related things that are in flight, so let me add a summary of what and who here:
- Implementing depfile support in Cython (https://github.com/ev-br/mc_lib/issues/36, https://github.com/cython/cython/issues/1459) (@ev-br)
- Making the files `numpy.f2py` generates always the same, so it becomes easier to a

[2021-09-16 15:03] ev-br commented on #22
I think I've an idea of where to start with this, the basics are in the commit message referenced in the issue. No idea of how this will go with cython devs though. And I ran out of time with this before the start of the teaching term, will come back to it at some point unless someone beats me to it.

[2021-09-18 10:21] Smit-create commented on #36
Hi,
These are the results on my machine:
[code]

My CPU details are:
[code]

The python script which I used for obtaining the results can be found at: https://gist.github.com/Smit-create/99f7fb2b8781053c39c3f25215e26cbf

[2021-09-27 18:55] rgommers opened #66 "Update Meson build files for C++ Cython support"
### Please describe your issue.

https://github.com/mesonbuild/meson/pull/9017 added support in Meson master to target C++ when using `add_extension('somefile.pyx')`. This is much nicer than using `custom_target` for the `.pyx` to `.cpp` step, so we should update all build files where this is current done to use the new functionality.

[2021-09-30 19:18] dhruv9vats commented on #66
I would like to take this up if that's okay.

[2021-09-30 21:04] rgommers commented on #66
Sure, please go for it @dhruv9vats!

[2021-10-01 11:39] dhruv9vats commented on #66
From what I understand, on [this](https://github.com/rgommers/scipy/blob/03ac3e89b0d081ebe5c3de5624a1a60f7ee29bb5/scipy/special/meson.build#L378) line, the following code snippet:
[code]
changes to:

[code]

This is what we are basically trying to accomplish, right?
But _only_ where there is a conversion between a `.pyx` to a `.cpp` file using cython? (That is, not dealing with `.pyx` to `.c` or `

[2021-10-01 11:52] rgommers commented on #66
Yes, that sounds exactly right. Searching the code base for `cython, '--cplus'` should give you all relevant extensions.

[2021-10-01 12:24] rgommers opened #69 "Write CI script to verify Meson installed all relevant test files"
https://github.com/rgommers/scipy/pull/68#pullrequestreview-768892069 showed an issue where the `.py` file with tests for a new feature was not included in a `meson.build` file and hence not installed. If that happens, CI will not fail, so it'd be good to have another CI test script that explicitly checks that all `tests/test_*.py` files (minus some whitelist of files) end up in the install dir. W

[2021-10-02 16:04] rgommers opened #72 "Verify/update style of `meson.build` files"
There are some inconsistencies in coding style in the `meson.build` files. We want to conform to https://mesonbuild.com/Style-guide.html here, and have everything in a consistent and best-practice way. E.g.:

- [ ] 2 spaces (not 4) indents everywhere
- [ ] source paths sorted alphabetically, as in https://mesonbuild.com/Style-guide.html#sorting-source-paths
- [ ] Should there be a space before `:`

[2021-10-02 16:18] #66 closed

[2021-10-02 16:20] Smit-create commented on #72
Yes, I'll take this

[2021-10-02 20:28] rgommers commented on #22
That sounds like a ways away. Reading https://github.com/ev-br/mc_lib/commit/818f466f45b60c868b2555ea332635213a9d2fbc, it may not be _that_ hard. @ev-br do you think this is feasible for an intern new to Cython & build stuff to tackle?

[2021-10-02 23:40] ev-br commented on #22
Yup, this is very much doable.

[2021-10-03 02:56] eli-schwartz commented on #22
Why can't it be plumbed through the `cython` utility (which has a simpler and more straightforward interface)?

See my comment (and surrounding discussion) at https://github.com/mesonbuild/meson/pull/8706#issuecomment-845438582

`cythonize` by default tries to guess what you want, and is geared to building packages itself. It is notably missing its own option for `--include-dir` and `--output-file

[2021-10-03 08:21] Smit-create commented on #72
Lets keep a track of completed ones here:
- [ ] _lib
- [ ] cluster
- [ ] constants
- [ ] fft
- [ ] fftpack
- [ ] integrate
- [ ] interpolate
- [ ] io
- [ ] linalg
- [ ] misc
- [ ] ndimage
- [ ] odr
- [ ] optimize
- [ ] signal
- [ ] sparse
- [ ]  spatial
- [ ] special
- [ ] stats

[2021-10-03 08:28] rgommers opened #76 "Failure on `cluster._vq` build with Meson"
From https://github.com/rgommers/scipy/runs/3778235538?check_suite_focus=true, on macOS there's a failure looking like:
[code]
It's likely that there's a dependency issue here; it fails only very rarely but something must be wrong.

[2021-10-03 08:36] rgommers commented on #76
Hmm, another one in https://github.com/rgommers/scipy/pull/75/checks?check_run_id=3781058324
[code]
Maybe due to updating to Meson master. Should change that to a fixed commit again, and run latest master only on the nightly build.

[2021-10-03 10:38] rgommers commented on #22
I agree with @eli-schwartz, that seems like a nonstarter. `cython` does exactly what we want, `cythonize` does way too much and uses `setuptools`.

[2021-10-03 11:23] ev-br commented on #22
There seem to be at least two differing opinons on this :-). https://github.com/cython/cython/issues/1214#issuecomment-847362485

[2021-10-03 11:43] eli-schwartz commented on #22
It's not clear to me that the concerns raised there are relevant to emitting dependency rules for rerunning cython in order to transpile .pxd into .cpp

[2021-10-03 12:57] rgommers commented on #22
I indeed don't think those concerns are relevant. `cython` can do `.pyx` -> `.c`/`.cpp`, which means it must have all the necessary info for doing that available internally somewhere. And those generated files are guaranteed to be portable as well (we used to ship them in sdists), so there's nothing regarding C/C++ compilers that Cython can possibly care about.

[2021-10-03 14:29] rgommers commented on #22
I have re-read the Cython docs, and [this bit at the top of the "source files and compilation" page](https://cython.readthedocs.io/en/latest/src/userguide/source_files_and_compilation.html#compiling-from-the-command-line) isn't quite complete:

_There are two ways of compiling from the command line._
- _The `cython` command takes a .py or .pyx file and compiles it into a C/C++ file._
- _The `cytho

[2021-10-03 15:08] eli-schwartz commented on #22
IIRC the `cythonize` command can be told to not invoke a C++ compiler, in which case it acts as though you invoked `cython` (but with a less powerful/usable set of command line options) and the author agrees that there's no real point in using the former.

Using the `cythonize()` function as a python module has a function return value of distutils/setuptools Extension objects. This is not on the t

[2021-10-06 10:23] rgommers commented on #72
All done, thanks Smit!

[2021-10-06 10:24] rgommers commented on #76
xref gh-31

[2021-10-06 10:26] rgommers commented on #76
This should be related to https://github.com/mesonbuild/meson/issues/8961. Closing as duplicate of gh-31.

[2021-10-06 10:26] #76 closed

[2021-10-06 10:27] rgommers commented on #31
Some more failures in gh-76. Cause should be https://github.com/mesonbuild/meson/issues/8961.

[2021-10-07 07:57] rgommers commented on #69
This looks great! The script looks pretty complete, I would just suggest making the scipy root dir and the install dir input params with `argparse`, so that we maintain that in a single location. The script should go under `tools/`, rather than in the root of the repo. And `installdir` is configurable, it's set it the top of the `linux.yml` workflow.

Yes please!

And yes, please add `test_scipy_v

[2021-10-10 11:36] ev-br opened #82 "Issues with prefix/destdir and "Broken python installation detected" warnings"
### Describe your issue.

Am trying to build the tip of the master branch with meson in a virtualenv on ubuntu focal. The setup works fine for the scipy master with setup.py / runtests.py / pip, but with meson fails with a nonsensical cannot find `<complex> hearder` in scipy.special.

Here's a full set of steps:

[code]

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/Nu

[2021-10-10 12:00] rgommers commented on #82
You need Meson master (or https://github.com/rgommers/meson/tree/scipy) for the build to succeed. Could you try that and see if it helps? I'm not sure it will, because I haven't tried virtualenv yet, but 0.59.2 is certainly too old.

[2021-10-10 12:28] ev-br commented on #82
Yup, that was it!

With
[code]

the build succeeds. Running the tests now. The remaining annoyance is

[code]

during the setup stage, and finally install is into `python3/dist-packages` (same as https://github.com/ev-br/mc_lib/issues/45)

[code]

[2021-10-10 13:51] rgommers commented on #82
Thanks! I haven't seen `WARNING: Broken python installation detected.`, so will look into that.

[2021-10-12 12:52] rgommers commented on #82
Not for OpenBLAS, but let's leave it open for the "broken Python" warning - I'm seeing it on Arch Linux as well, so it's almost certainly incorrectly triggered.

[2021-10-14 13:12] eli-schwartz commented on #82
`setup.py` has no concept of a pre-compilation step which runs before `build_ext` but computes the paths which will be used by `install`. It actually has nothing to do with separating build vs. install, but rather about separating configure vs. install with build standing off to the side.

As for the install step, setup.py is blessed to run in a python only world, does not compute the standard GNU

[2021-10-28 11:35] rgommers opened #89 "Try to remove `install_dir` usage from all meson.build files"
For context see https://github.com/mesonbuild/meson/pull/9478#issuecomment-953759532. If it works with `0.60.0` then we can safely get rid of it.

[2021-11-02 11:13] rgommers commented on #36
The "deprecate private API in SciPy" issue is coming to an end, we discussed to after that update the `meson` branch in this fork to be up-to-date with SciPy master.

[2021-11-03 13:16] rgommers commented on #82
@FFY00 pointed out that I likely should be using `meson install --destdir` rather than `meson install --prefix` in order to install to a local directory for, say, a dev build. Trying that:

[code]
Conclusion of the above: yes I should be using `--destdir` for installing outside of a prefix, and no it's not a replacement for `--prefix` (paths picked up in install are still for the Python in `/usr/l

[2021-11-03 21:17] rgommers commented on #89
It's not fixed. I tried to remove two separate instances of `install_dir`, and both gave the same exception:
[code]
One of my code comments points to https://github.com/mesonbuild/meson/issues/3206, which indeed looks related. Installing files generated by a `custom_target` call seems broken if `install_dir` isn't used.

[2021-11-03 21:21] rgommers commented on #89
Ack one sec, I should _replace_ `install_dir` by `subdir`.

[2021-11-03 21:21] rgommers commented on #89
Which results in a saner error at least:
[code]

[2021-11-03 21:24] eli-schwartz commented on #89
subdir is a kwarg for py_installation.install_sources()

install_dir is a kwarg for custom_target() and without specifying a location to install to, a custom_target cannot install anywhere, since it does not know what to do.

However, it is supposed to give a useful error message, not a traceback, as reported in https://github.com/mesonbuild/meson/issues/9522 (and fixed by me on meson master).

[2021-11-03 21:26] eli-schwartz commented on #89
The place where you can remove `install_dir` from is python_installation.extension_module() rather than custom_targets.

[2021-11-03 21:27] rgommers commented on #89
Great, thanks for confirming. My only uses of `install_dir` are within `custom_target` - so we're all good here already.

For the record, usages:
[code]

[2021-11-03 21:28] #89 closed

[2021-11-03 21:31] eli-schwartz commented on #89
Ah okay, seems like I was confused about what functions you were using it for, in the linked ticket from the OP.

[2021-11-03 21:33] rgommers commented on #89
No worries, I'm confused all the time here - nontrivial issues & design questions.

[2021-11-03 21:36] eli-schwartz commented on #89
This assumed you were using the python module functions (which may in fact be salvageable if install_sources is modified to learn how to handle generated sources. There is resistance to directly supporting `install_sources(built_outputs)`, but perhaps adding a command: kwarg to install_sources() would be more palatable to those people?)

[2021-11-03 21:59] rgommers commented on #89
Yes, that'd be a great solution. I tried that, and then found https://github.com/mesonbuild/meson/issues/7372.

[2021-11-19 13:09] tirthasheshpatel commented on #82
When I try to build in a virtual environment created using `venv` or `virtualenv`, it fails to form an absolute path to the numpy include directories:

[code]

From `build/meson-logs/meson-log.txt`:

[code]

To verify that this is the case, I replaced the `inc_np` at line 34 in `scipy/meson.build` with the path in my virtual env:

[code]

and built using a local meson installation outside of the v

[2021-11-19 13:16] rgommers commented on #82
@tirthasheshpatel is this happening with both meson `0.60.0` and `master`?

[2021-11-19 13:18] tirthasheshpatel commented on #82
Yes

[2021-11-19 13:19] rgommers commented on #82
Also, what distro?

[2021-11-19 13:19] tirthasheshpatel commented on #82
Ubuntu 20.04 focal

[2021-11-19 13:25] rgommers commented on #82
I haven't been able to reproduce this yet, but it's the second time I've seen it. Maybe be related to https://github.com/scipy/scipy/issues/14890, IIRC that's why we needed an absolute path - file writing seemed to need it, can't remember the details but likely because had to do with it having to do the right thing for both distutils and meson based builds, and those are writing files to different

[2021-11-19 13:34] tirthasheshpatel commented on #82
Hmm, not sure if it is related to Cython. We call `include_directories(numpy_include)` which is supposed to return a relative path given an absolute path, according to my understanding, but it fails. So, I thought I was using meson incorrectly.

[2021-11-19 13:48] rgommers commented on #82
Ah I remember you mentioned this a week ago, and it's only broken in your Ubuntu virtualenv, outside of virtualenv it's fine: https://github.com/scipy/scipy/pull/14847#issuecomment-967265344. I added this to the tracking issue. Debian/Ubuntu is known to make a giant mess out of virtualenvs (and Python sysconfig et al.), so I think I'd like to put this lower on the TODO list. We should add a CI job

[2021-11-19 13:54] tirthasheshpatel commented on #82
Thanks for your help! I will use conda in the meantime.

[2021-11-19 14:01] ev-br commented on #82
Ugh, that's a bit of an advice :-). On my previous attempts, it did work despite an unhelpful warning . That was on meson master, pre-0.60.

Virtualenv on unbuntu is a perfectly valid and mainstream use case.
TBH, all this finger-pointing into debian is not very helpful.

[2021-11-19 14:05] rgommers commented on #82
We'll fix it well before switching over to Meson as the default, no worries. I just want to finally merge support into SciPy master first, and ensure wheel build and Windows work - that's more important than this virtualenv-on-debian specific issue. If it was easy we'd just do it now, but it is not.

[2021-11-19 14:06] tirthasheshpatel commented on #82
Did you install meson in your virtual env? I think meson could pick up on numpy C sources outside virtual envs if a local installation is used. Can you share your meson logs (`builddir/meson-logs/meson-log.txt`) which should have the numpy C sources used?

[2021-11-19 14:22] ev-br commented on #82
@tirthasheshpatel I just realized why I'm notified in this issue :-). My attempts are reported above, and I don't think I've kept the logs beyond what's up there.

And I definitely installed everything into the virtualenv --- I don't think I even have numpy installed outside of a virtualenv.

[2021-11-19 16:36] eli-schwartz commented on #82
It seems that your virtualenv is a subdirectory of the scipy repository?

[2021-11-19 16:44] rgommers commented on #82
No, that's the same "issue" as we've been discussion higher up (see https://github.com/rgommers/scipy/issues/82#issuecomment-959050529).

It should be irrelevant here. @tirthasheshpatel can confirm that just a plain `meson setup build` without using `--prefix` at all will still fail with `scipy/meson.build:34:0: ERROR: Tried to form an absolute path to a source dir.` I believe.

[2021-11-19 16:45] rgommers commented on #82
I do hope your work-in-progress `install_env=auto` will help here though @eli-schwartz

[2021-11-19 17:02] eli-schwartz commented on #82
My point is that this seems to be entirely unrelated to prefix.

Prefix and how to handle it, has an effect on whether meson warns you that files will be installed outside of the PYTHONPATH. It's not actually a meson error, it's just bad defaults for installing.

Virtualenvs being inside the source tree have an effect on whether string literals passed from subprocesses (that run numpy code and pri

[2021-11-19 17:13] tirthasheshpatel commented on #82
Doing this also gives me the same error :( I recreated a venv in the `Desktop/scipy_meson_venv` directory while the scipy project is at `Desktop/scipy_meson` directory.

<details>
<summary>Meson Log</summary>

[code]

</details>

[2021-11-19 17:13] rgommers commented on #82
It's not in the source tree, the virtualenv is elsewhere. It's just that the in-tree install location is what is recommended by my install script. So you can do development work, and `git clean -xdf` to get rid of it.

Yes I agree. I just don't understand why it breaks in this Ubuntu virtualenv, and it works without virtualenvs.

We definitely cannot require building `numpy` in order to build `sci

[2021-11-19 17:17] rgommers commented on #82
(and no, `numpy` doesn't have pkg-config support, and we need to support already shipped numpy versions, so just relying on pkg-config to make `dependency('numpy')` work is not possible).

[2021-11-19 17:20] rgommers commented on #82
Oh wait, it was?? Then I agree with "don't do that".

[2021-11-19 17:25] tirthasheshpatel commented on #82
Yes, it was. But I created a fresh venv in a different directory but still got the same error.

<details>
<summary>Meson Log</summary>

[code]

</details>

[2021-11-19 17:40] eli-schwartz commented on #82
That actually appears to be a legit bug.

Given `/path/to/source/` as a meson project, you cannot use `/path/to/source-extrastuff/` without meson erroneously thinking that `-extrastuff` is a subdirectory of the source. This is just bad path parsing on meson's side.

@rgommers I'd be happy to mentor and/or review+merge a numpy dependency for https://mesonbuild.com/Dependencies.html#dependencies-wit

[2021-11-19 18:26] rgommers commented on #82
Thanks! Let me open a Meson issue so we keep track of it and do it all at once (e.g. we need `numpy.f2py` and `numpy.random` include dirs as well).

[2021-12-24 13:44] rgommers commented on #33
Going to close this, it doesn't seem likely it will be successful or worth the effort (single file build time will still be limiting).

[2021-12-24 13:44] #33 closed

[2021-12-27 10:17] rgommers commented on #31
This is starting to be urgent to fix. It continues to fail on the macOS CI job, and on Windows it needs `-j 128` to work around it.

Here is a simple explanation of the issue: https://github.com/scipy/scipy/pull/14847#issuecomment-1001477916

And a potential solution in Cython that I hadn't considered before: https://github.com/scipy/scipy/pull/14847#issuecomment-1001483114.

[2021-12-29 15:58] rgommers commented on #31
Cython finds the module name from the path in a package here: https://github.com/cython/cython/blob/f372c5ab67c73a4c28e68e2aa8bee16a2ec0e4e1/Cython/Compiler/Main.py#L381

`full_module_name` is passed through a whole chain of functions, because it may be auto-determined by `extract_module_name`, or for files outside a package it's the filename, or it can be specified by the user in the `Extension`

[2021-12-29 16:39] matthew-brett commented on #31
@rgommers - I'm happy to have a go at that - let me know?

[2021-12-29 17:25] rgommers commented on #31
That would be great, thanks @matthew-brett. I had just started looking into it, but I'm really short on time so would be great if you wanted to drive this one.

Here's the full extent of my WIP patch, to save you about 5 minutes:
[code]

[2021-12-29 17:27] matthew-brett commented on #31
Thanks - will have a go at this tomorrow.

[2021-12-29 19:50] eli-schwartz commented on #31
That looks neat. Since meson knows what the fully qualified module name is supposed to be -- using `py_installation.extension_module('_ufuncs', sources, subdir: 'scipy/special')` it knows it will install `scipy/special/_ufuncs.cpython-310-x86_64-linux-gnu.so` which is also the above mentioned module name -- it should be easy to automatically handle in meson without requiring any options (just like

[2021-12-30 23:35] matthew-brett commented on #31
Sketch at https://github.com/cython/cython/pull/4548

[2022-01-08 00:02] swallan commented on #22
Hello Ralph :)

I followed your guide to setup SciPy with meson on Mac. One thing that I noticed that might need to be adjusted (or noted in the guide) is to make sure that the python version in this path is correct from this instruction:
<img width="781" alt="Screen Shot 2022-01-07 at 3 57 56 PM" src="https://user-images.githubusercontent.com/44255917/148621746-e0384d78-199b-45d4-90bc-84235ab5ea5

[2022-01-08 09:47] rgommers commented on #22
Thanks @swallan. I will add a code comment to note this in the next update for `meson.build` files.

[2022-01-10 15:58] matthew-brett commented on #31
I think this allows us to do something neat like https://github.com/matthew-brett/cyext/blob/main/meson.build .

[2022-01-10 16:04] rgommers commented on #31
That'll be a very temporary thing right? We want support in Meson, and then `cython` will be invoked by `ninja`. Or maybe I'm missing what is neat here?

[2022-01-10 18:41] zhangyiwei commented on #82
I've seen exactly the same before and was able to fix it by uninstalling meson and reinstalling via pip. e.g. "python3 -m pip install meson" and then set the PATH to include "~/.local/bin". Now this pip installed "meson" understands python locations, and the warning is gone. Hopefully that applies to your case as well.

[2022-01-10 23:55] matthew-brett commented on #31
Hmm - I hadn't registered how complex the Cython build was.  Just for my reference, there are two issues for the source / build tree and Cython:

* Finding the correct module name (can be solved by the `--module-name` argument);
* Making sure needed generated `.pyx` files are `cimport`able at build time (not solved by new argument).

Here's a first sketch at respecifying a dependency.  I believe i

[2022-01-11 08:52] rgommers commented on #31
I don't think I understand this. You cannot `cimport` a `.pyx` file normally, this is what `.pxd` files are for. It looks like Cython has an option to allow cimporting ` .pyx` file, but it's disabled by default and I have never seen it used: https://cython.readthedocs.io/en/latest/src/userguide/source_files_and_compilation.html#Cython.Compiler.Options.cimport_from_pyx

I suspect what you're seeing

[2022-01-11 09:54] matthew-brett commented on #31
Sorry - typing too quickly, and too late - I meant `.pxd` files - I'll edit in the original comment.  In particular, I was working (above) on build for a file that `cimports` the *generated* `cython_blas` (`cython_blas.pxd`).   The point I was reminding myself of was that our current need for copies of the import tree during Cython compilation comes _both_ from the need for correct module name dis

[2022-01-11 19:20] matthew-brett commented on #31
What about splitting out the `.pyx` to `.c` compilation steps, until we do have a good solution to the problem as defined in https://github.com/mesonbuild/meson/issues/8961 ?  It's a bit of work, but probably only a few hours, it wouldn't take long to reverse when we do have a solution.

[2022-01-11 20:08] rgommers commented on #31
That should be fine. It won't solve everything, but it will solve this particular issue I suspect.

[2022-01-13 23:36] matthew-brett commented on #31
I've done the split in #15407 . I don't get any out-of-order errors now.  I think I caught all the dependencies, but please do review.

[2022-01-17 13:44] rgommers opened #116 "Windows build for Meson broken in CI"
I've seen this a bunch of times now (e.g., in https://github.com/rgommers/scipy/runs/4842673552?check_suite_focus=true):

[code]

The code from `npy_common.h` ([here](https://github.com/numpy/numpy/blob/9ba1440501d53d72ecce24ed207db62e3037d807/numpy/core/include/numpy/npy_common.h#L183)):
[code]
Pythran just has `ftell` ([here](https://github.com/serge-sans-paille/pythran/blob/52ec6f2b55c1fb4f7236

[2022-01-17 19:47] rgommers commented on #116
Yes, very well possible. I didn't think about it deeply, just a general "mingw-w64 & long double" observation.

[2022-01-17 20:09] carlkl commented on #116
I remember, i was going to send a numpy PR last year. This part of numpy defining _ftelli64 and _fseeki64 is outdated and not necessary anymore. Maybe it was for the _original mingw32_. However, almost nobody uses the _original mingw32 toolchain_ anymore. mingw-w64 is a fork of mingw32 and has both: 32 bit (also called mingw32) and the well known 64bit variant.

[2022-01-18 00:01] matthew-brett commented on #116
@carlkl - can I help with the Numpy PR?

[2022-01-18 06:57] rgommers commented on #31
Since this should now be fixed, I'll close it. I will add the upstream Meson issue to our tracking issue (gh-22), because we do want to get that fixed at some point, so we can simplify our `meson.build` files.

[2022-01-18 06:57] #31 closed

[2022-01-18 07:28] rgommers commented on #116
Looks like it should be removed indeed, original mingw32 is indeed not worth supporting anymore.

One issue we will have is that the two conflicting definitions are in NumPy and Mingw-w64, both of which we cannot alter easily - so we're going to see this warning for a while. Important: I misread the build log, this is the last bit of output before an error, but _this itself is just a warning_.

Se

[2022-01-18 07:44] rgommers commented on #116
Submitted a PR, so let's close this. I'll open a new issue if I can't get the Windows CI for Meson here to behave.

[2022-01-18 07:44] #116 closed

[2022-01-18 08:29] rgommers opened #118 "Windows Meson build broken in CI"
Windows CI now builds (after removing the `-j 128` which caused out of memory issues during build), but is broken. From https://github.com/rgommers/scipy/runs/4850001376?check_suite_focus=true:
[code]

The warnings for building `_ufuncs` are:
[code]

Note that CI status is green, but only because the `test` stage does not set an exit code correctly apparently.

[2022-01-18 10:35] rgommers commented on #118
In gh-119 we see that building against numpy `1.21.5` instead of `1.22.1` does give us a working build - so it's probably recent `f2py` changes that cause the corrupted DLLs here.

That "working" build still crashes because of recent changes in HiGHS (from https://github.com/rgommers/scipy/runs/4850860789?check_suite_focus=true):

[code]

[2022-01-18 10:50] rgommers commented on #118
The issue with `"%zd"` and Mingw is more clearly explained in https://stackoverflow.com/questions/44382862/how-to-printf-a-size-t-without-warning-in-mingw-w64-gcc-7-1. tl;dr it seems like we're picking up `msvcrt.dll` which is very outdated.

@carlkl, @matthew-brett does this ring a bell?

[2022-01-18 12:11] rgommers opened #120 "Build warnings in the Windows Meson build we should fix"
@Smit-create here are all the relevant build warnings from today's Windows build against numpy 1.21.5. Could you look into these?

[code]
The above one also happens in `dStackCompress` and the `s`/`z` variants.

[code]

[code]

[code]

[code]

Many warnings like:
[code]
These rank mismatch warnings should be silenced by using `-fallow-argument-mismatch`, see the `TODO` comment in the top-level `me

[2022-01-18 13:06] carlkl commented on #118
It happens, that I have a fresh local windows meson build. No problems with cluster so far: (unfortunately highs segfaults)

[code]

[2022-01-18 13:07] carlkl commented on #118
Hint I didn't used rtools but the recent msys2 ucrt64 gcc toolchain. I will test again with rtools for a comparison.

[2022-01-18 13:38] rgommers commented on #118
It's not `cluster`, it's `special._ufuncs` (but it may be a generic issue), and it only happens when building against numpy `1.22.1` (so probably `1.22.0` as well).

[2022-01-18 14:24] carlkl commented on #118
scipy.special:
[code]

[2022-01-18 14:26] carlkl commented on #118
with the exception of:

- TestLinprogHiGHSSimplexDual: Windows fatal exception: access violation
- TestLinprogHiGHSIPM: Windows fatal exception: access violation
- TestLinprogHiGHSMIP: Windows fatal exception: access violation

all is fine with my local scipy build.

[2022-01-18 14:47] carlkl commented on #118
However, I get a lot of warnings like that: `%s.%s size changed, may indicate binary incompatibility`, i.e.:

build log
[code]

build/scipy/linalg/cython_lapack.cp39-win_amd64.pyd.p/cython_lapack.c:51637
[code]

[2022-01-18 16:54] Smit-create commented on #120
Yeah, will look into it.

[2022-01-18 17:26] rgommers commented on #118
I think the code is correct (it's a generic check and [coming from Cython here](https://github.com/cython/cython/blob/617a9592726e5d779a1de2973c83f510e0d4c7d6/Cython/Utility/ImportExport.c#L553)), it's that Mingw doesn't deal well with `"%zd"` as I mentioned a few comments above. There are a ton of thread you can find on StackOverflow and other places about this. It's just not super clear to me wh

[2022-01-18 19:55] carlkl commented on #118
We can get rid of this warning with `-D__USE_MINGW_ANSI_STDIO` (additional POSIX fprint support from mingw-w64).
I was of the opinion that this is no longer necessary with UCRT, but ...

[2022-01-18 19:56] carlkl commented on #118
See also: https://stackoverflow.com/questions/59779751/why-will-mingw-w64-gcc-compiler-generate-wrong-warning-about-the-format-of-zd-a

[2022-01-18 19:58] rgommers commented on #118
Great, thanks. I had seen that SO post, but wasn't sure if `-D__USE_MINGW_ANSI_STDIO` was an appropriate fix (it did seem a little hacky).

[2022-01-18 20:13] carlkl commented on #118
Usually `-D__USE_MINGW_ANSI_STDIO` isn't set in case of `UCRT64`, see  [mingw-w64-headers/crt/_mingw.h.in](https://github.com/mirror/mingw-w64/blob/master/mingw-w64-headers/crt/_mingw.h.in). However, it seems that the mingw-w64 developers only have the `ll` length specifiers in mind, see [mingw-w64-headers/crt/inttypes.h](https://github.com/mirror/mingw-w64/blob/master/mingw-w64-headers/crt/inttyp

[2022-01-18 20:19] rgommers commented on #118
Wow, this is a nice set of conditions:
[code]

There's so many of them that they will swamp other warnings - I'll try to silence them.

[2022-01-18 20:22] rgommers commented on #118
Note to self on `"%zd"` meaning: `z` indicates `size_t`, and `d` a signed decimal integer. Since `size_t` is unsigned, this is a little odd; `"%zu"` seems cleaner but `zd` is used a lot.

[2022-01-18 20:24] carlkl commented on #118
How about `-Wno-format-extra-args -Wno-format` to silence them? Seems to work for a trivial test.

[2022-01-18 20:40] carlkl commented on #118
https://stackoverflow.com/questions/15610053/correct-printf-format-specifier-for-size-t-zu-or-iu
It seems that `%z` `%zd` is supported only since VS2015, hence it works without `-D__USE_MINGW_ANSI_STDIO` for UCRT. It follows that it is sufficient to suppress the warnings.

[2022-01-19 00:08] matthew-brett commented on #118
Sorry to be dumb - but, if `%zd` is supported for the toolchain we are using, why does it generate this warning?

[2022-01-19 09:08] rgommers commented on #118
@matthew-brett this comment from @carlkl explains it: https://github.com/rgommers/scipy/issues/118#issuecomment-1015797115

I'm trying both fashions now for completeness; silencing with `-Wno-format-extra-args -Wno-format` and fixing with `-D__USE_MINGW_ANSI_STDIO`. I think the latter is preferred.

[2022-01-19 11:51] matthew-brett commented on #118
This is just to record my (lack of) understanding for reference.

I like [this explananation](https://stackoverflow.com/a/59780476/1939576)

We're having problems with `%zd` format identifier in an `fprintf` string.

There are two parts in play here.  The first is the run-time library.   The run-time library implementation of `fprintf` has to to be able to parse and correctly implement the `%zd`.

[2022-01-19 12:32] rgommers commented on #118
That doesn't seem quite complete to me, since `__USE_MINGW_ANSI_STDIO` does get rid of some (but not all) of the warnings. But yes indeed, `inttypes.h` does seem to miss support for `"z*'`.

This is a giant mess spread over many header files, and it's hard to figure out what the MS runtimes actually support, so I'd personally prefer to just silence the remaining warnings and move on.

[2022-01-19 12:42] matthew-brett commented on #118
As you can see - I was hoping to get to the bottom of the problem now - to avoid confusion later on.

Am I right then - that `-D__USE_MINGW_ANSI_STDIO` does not suppress warnings for `z*`?  As you say (as I was trying to say) it will suppress warnings for some UCRT-supported codes, such as `%lld`.

It seems to me that if my analysis is right:

* We should submit a patch to mingw-w64 for the run-ti

[2022-01-19 12:51] rgommers commented on #118
Copy of https://github.com/rgommers/scipy/pull/121#issuecomment-1016305662:

[2022-01-19 18:14] matthew-brett commented on #118
I confirmed that `-D__USE_MINGW_ANSI_STDIO` silences the warnings for a simple test-case:

[code]

I couldn't immediately see the code-path where it does that.   Have sent an email to the [MinGW-w64 mailing list](https://sourceforge.net/p/mingw-w64/mailman/mingw-w64-public/) to report - because I think there should not be a warning for `%zd` and `UCRT`.

[2022-01-19 18:22] matthew-brett commented on #118
https://sourceforge.net/p/mingw-w64/mailman/message/37593629/

[2022-01-19 23:00] matthew-brett commented on #118
Helpful reply to my post to Mingw-w64 list says [there's a patch](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95130) already for this that may get merged for GCC 13.  It turns out the [header we've been looking at](https://github.com/mirror/mingw-w64/blob/master/mingw-w64-headers/crt/inttypes.h#L32) is not relevant to the problem.

[2022-01-20 10:00] rgommers commented on #118
Okay, thanks for investigating. Guess we'll be able to rely on that patch in 5 years from now, GCC 13 feels like an eternity away (we just dropped `4.8`).

[2022-01-20 14:47] carlkl commented on #118
@rgommers, I think it is worth for me to locally rebuild `gcc version 11.2.0 (Rev6, Built by MSYS2 project)` for testing and maybe kindly ask the msys2 community to add this to their repository.

[2022-01-20 21:27] rgommers commented on #118
Thanks @carlkl. Do you think that will fix something specific, or is it more a matter of it being the latest and greatest, so it may have some fixes we don't yet know we need?

[2022-01-21 10:53] carlkl commented on #118
I want to try out to build GCC 11 with the patch `0001-c-family-Let-stdio.h-override-built-in-printf-format.patch` from [[PATCH] [12/11/10] Fix invalid format warnings on Windows](https://gcc.gnu.org/pipermail/gcc-patches/2022-January/588341.html)

[2022-01-22 10:00] carlkl commented on #118
It seems that patch (on others) was included 2 days ago in the latest and greatest gcc version 11.2.0 (Rev7, Built by MSYS2 project). Will now build with the newest version....

[2022-01-22 13:20] carlkl commented on #118
[scipy-scipy-ecb800f_build.log](https://github.com/rgommers/scipy/files/7918387/scipy-scipy-ecb800f_build.log) shows, that are are a lot of warning left. Build was done with the latest pypi numpy, and the newest msys2 ucrt64 gcc.

[2022-01-22 13:27] rgommers commented on #118
Thanks @carlkl, that's what I expected. It fixes `fprintf`, but not `vsnprintf`. All remaining warnings come from Cython-generated code. gh-123 should take care of those. For GCC/Mingw I guess it means they should apply their fix also to the `v*nprintf` functions, and not just to `fprintf`.

[2022-01-22 13:52] rgommers commented on #118
The HiGHS segfault we're seeing is because HiGHS is not being tested with Mingw and has more issues: https://github.com/ERGO-Code/HiGHS/issues/625. I'll open a separate SciPy issue on the main repo.

[2022-01-22 14:03] mstorsjo commented on #118
Can you make a minimal standalone repro for the vsnprintf issue? Because when dealing with that, AFAIK it’s also affected by how you declare your own wrapper function that intercepts the varargs and calls vsnprintf. And I don’t see anything specifically relating to one but not the other function family in the gcc patch.

[2022-01-22 14:12] rgommers commented on #118
Thanks @mstorsjo, we'll try. There's a level of indirection here, via CPython's `PyOS_snprintf`, so perhaps the problem is there.

[2022-01-22 15:22] carlkl commented on #118
Good to know, that the HiGHS segfault are a known issue. Same here on my local environment.

[2022-01-22 17:47] rgommers opened #125 "Windows Mingw build has warnings about threading not supported"
These warnings seem to indicate a real issue:

[code]

There are 30 such warnings, in `linalg/_interpolativemodule.c`, `linalg/_flapackmodule.c`, `linalg/_propack/_[c|s|d|z]propackmodule.c`, `integrate/_lsodamodule.c`, `integrate/_vodemodule.c`, `integrate/_dopmodule.c`, and `optimize/_cobylamodule.c`.

Probably relevant links:
- https://bugs.freedesktop.org/show_bug.cgi?id=57591
- https://sourcef

[2022-01-22 19:50] pearu commented on #125
This should be the other way around: f2py should do what mingw-w64 dictates it to do.

So, the question is, what is the correct threading directive in the case of mingw-w64? https://sourceforge.net/p/mingw-w64/bugs/327/ seems to suggest `__thread` and if this is correct, the fix would be to move `defined(__MINGW64__)` to the `elif` expression that block uses `__thread`.

A simple way to test this

[2022-01-22 20:02] carlkl commented on #125
Looking at the mingw-w64 sources it should be `__thread` for GCC and `__declspec(thread)` only for VS.

[2022-01-22 20:15] pearu commented on #125
Thanks, @carlkl for looking into this. It sounds like `defined(__MINGW64__)` needs to be moved as suggested.
The corresponding code was introduced relatively recently: https://github.com/numpy/numpy/pull/18910

[2022-01-23 18:26] rgommers commented on #125
Thanks @pearu and @carlkl! Submitted a PR.

[2022-01-30 11:00] rgommers commented on #82
To record the current state:
- https://github.com/mesonbuild/meson/pull/9788 improves virtualenv handling, it will be merged for Meson `0.62.0` (this is the most important part)
- The warning may or may not be removed, that's TBD.
- The fix for Debian has already landed, so Meson should behave the same way on Debian as other distros with `0.61.1`.

[2022-01-30 11:19] rgommers commented on #22
I had a look at where we are at and what are actual release blockers for `1.9.0`. These are:

1. Windows build must pass (currently segfaulting on HiGHS)
2. Meson virtualenv handling improvements (PR ready and marked for `0.62.0`)
3. Support for MKL and other BLAS/LAPACK libraries in Meson (we need to work on this, should go into `0.62.0` which based on current release cadence should land in April

[2022-01-30 18:49] ev-br commented on #82
Yup, can confirm that the virtualenv on ubuntu focal (the OP issue) works fine with meson 0.61.1. I only tested 0.61.1 and only with virtualenv (no stdlib venv, no user installs outside of a virtualenv). Which is superb, and goes 99% of the way, I'd say. The warning is mostly harmless IMO (will need to be documented to be ignored, and duly ignored, I'd think).

[2022-01-30 18:52] rgommers commented on #82
Thanks, let me close this then.

[2022-01-30 18:52] #82 closed

[2022-01-31 09:28] tirthasheshpatel commented on #82
Also tested on my ubuntu focal with meson 0.61.1 and virtualenv and everything works seamlessly. I love the speed: from 30-40 minutes of build time using distutils to 2-3 minutes using meson & ninja!! It would be a cheery on the cake to get https://github.com/mesonbuild/meson/pull/9788 in 0.62.0! Thanks @rgommers and Meson team for working on this!

[2022-02-10 12:51] rgommers commented on #125
this was fixed in numpy 1.22.2, closing

[2022-02-10 12:51] #125 closed

[2022-02-10 12:54] rgommers commented on #118
Windows CI is fixed now, closing. thanks all!

This follow-up is still a TODO, I'll open a separate issue to keep track of this.

[2022-02-10 12:57] rgommers opened #132 "Investigate issue with `vsnprintf` and mingw-w64"
This is a follow-up to gh-118. From the comments there:

Those warnings were silenced in https://github.com/rgommers/scipy/pull/123, however there's still a problem in one of Cython, CPython or Mingw-w64. It'd be nice to figure out where exactly, so we can remove the warning silencing and no one else has to deal with this in the future.

[2022-02-10 13:39] rgommers opened #133 "Prototype a better developer CLI for SciPy (& similar projects)"
See https://github.com/scipy/scipy/issues/15489

We'd like to create a first prototype with one task runner tool and one command-line interface tool, so we can more easily evaluate next steps and technology choices. I think the top candidates to use for that first prototype are:
- https://pydoit.org/ (task graph)
- https://typer.tiangolo.com/ (CLI)

These would be good to start looking into. The p

[2022-02-14 18:57] schettino72 commented on #133
Hey, doit author here.
Glad to see doit being evaluated for such a nice project :)
Let me know if you have any questions or need any help with the prototype using doit.

Also note that doit CLI is mostly designed towards task developers, not end-users for the tasks itself.
I have some ideas on how to build an extension in order to expose a CLI towards end users, but not develop yet...

[2022-02-16 14:40] rgommers commented on #133
Hi @schettino72, thanks for commenting! And for doit:)

This seems to me to be a fairly natural split - all the projects that do offer tools to build nice CLIs do not offer much (or anything) in terms of task development (like a DAG, or good shell integration), so as long as the integration between a CLI and the task implementation is clean then I think it's fine to combine two different packages

[2022-02-21 11:04] sayantikabanik opened #134 "BUG: Scipy build failing"
### Describe your issue.

Facing the below error while trying to run `python dev.py --build-only`
[code]
<details>

<summary> conda info</summary>

[code]
</details>

<details>
<summary> conda list </summary>

[code]

</details>

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

1.22.2 sys.version_info(major=3, minor=10, micro=2, releasele

[2022-02-21 12:47] rgommers commented on #134
I can reproduce this in a fresh conda env, however my old conda envs still work with the same versions of `meson` and `gfortran`. So still looking at what caused this.

[2022-02-21 12:55] rgommers commented on #134
One difference is the separate `gfortran` conda package. In new (failing) env:
[code]

In old (working) env:
[code]
So there is one extra entry:
[code]
I wouldn't expect that to affect anything, but it's a change.

`ld` version did change, from `530` to `609`. Downgrading it back to `530` solves the issue:
[code]

@sayantikabanik @tupui that's a good workaround for now it looks like. I will file a

[2022-02-21 13:00] rgommers commented on #134
Hmm can't immediately find where `ld64` is coming from. @isuruf can you please tell me what the correct repo is to file an issue for this?

[2022-02-21 13:29] tupui commented on #134
Thank you, works great! (I put this in the env file directly but had to put `ld64` instead of just `ld`).

[2022-02-21 14:11] isuruf commented on #134
https://github.com/conda-forge/cctools-and-ld64-feedstock/issues/50

[2022-02-23 11:42] eli-schwartz commented on #82
The `python.install_env` option is now merged to meson git master and will be present in 0.62.0.

[2022-02-23 11:47] eli-schwartz commented on #22
PR now merged to meson git master in the middle of the 0.62.0 development cycle.

[2022-02-23 12:17] rgommers commented on #82
Awesome! Thanks again @eli-schwartz. When 0.62.0 is out I will make it the minimum required version and add `-Dpython.install_env=auto` in the appropriate places in docs and scripts.

[2022-02-23 12:22] rgommers commented on #22
Nice, we're progressing nicely: we're down to sdist/wheel builds (almost there, some macOS and Windows testing left to do), test/improve MKL support, and some CI job porting as release blockers.

[2022-03-01 13:15] rgommers commented on #133
@schettino72 I have a question about gluing together `doit` with a CLI tool like Typer. It looks like there's no Python API to `doit`, so if we want the use a CLI library to get an optimal end user-friendly CLI, and `doit` for the task DAG and task execution, then I think that means we need two files:
1. `cli.py` for `typer` to implement the CLI.
2. `dodo.py` for the actual tasks

`cli.py` will th

[2022-03-02 15:50] schettino72 commented on #133
Here is a trivial proof of concept:
https://gist.github.com/schettino72/1a665303a866002a817dd87a140c3666

Of course very limited as it is but I guess enough to show my vision on how it could be done.
I used click instead of typer to keep it simple for now... (since typer itself uses click).

ps. Do you have a list of tasks you want to convert to doit. I could give a hand on that as well if you wis

[2022-03-03 14:15] rgommers commented on #133
That would indeed be preferred.

@sayantikabanik is working on that in https://github.com/sayantikabanik/scipy/blob/cli_poc/dodo.py - that selection of dev tasks should be enough to get a good feel for things.

Thanks! That's much nicer than using `subprocess`. I like the decorator-based approach. The first command of interest I think is `test`, which is now `python dev.py --no-build` and has opti

[2022-03-06 13:43] schettino72 commented on #133
Hey, just an update.

- I took time to get somewhat familiar with the current CLI and infrastructure.
- I did some good progress this weekend but I need more time before I present it for further discussion...
- I am also doing some changes on doit core implementation to ease the integration.

I am expecting to get a prototype by end of next week (March 13).

[2022-03-09 11:27] rgommers commented on #133
Thanks for the update @schettino72! Much appreciated.

[2022-03-11 13:42] schettino72 commented on #133
Here is my branch: https://github.com/schettino72/scipy/blob/cli-doit/do.py

Note you need to install doit from github, it relies on changes not released yet https://github.com/pydoit/doit

doit command line can read tasks from `do.py` because it is configured on `pyproject.toml`

Pretty long message and not sure you will be able to follow without knowing details of the tools...
The implementation

[2022-03-15 21:50] rgommers commented on #134
This was patched in conda-forge, so we shouldn't be seeing it anymore (`cctools` fix still to be merged, but conda-forge will carry the patch till that's done). So closing.

[2022-03-15 21:50] #134 closed

[2022-03-15 22:42] rgommers commented on #133
Thanks, this is looking promising! I played with it a bit:
- ~Small thing: I noticed that `doit list` doesn't show `pep8`, only `build`/`test`/`flake`/`flake8`.~ EDIT: that's because it's not a `doit` task - it _is_ visible with `./do.py --help`.
- `doit test -s some_submodule` works fine now, and that was one of the things that gave trouble before.
- `doit help build` makes sense. Prettifying the

[2022-03-23 14:01] Smit-create commented on #120
With reference to this: https://github.com/rgommers/scipy/runs/5123938429?check_suite_focus=true

1. This is the warning from autogenerated code:
[code]

[2022-03-23 14:24] rgommers commented on #120
Okay, let's leave that one alone for now then. I think it is fixed in a more recent NumPy version already. At least we fixed one thread-related warning in `f2py` recently.

[2022-03-25 11:34] sayantikabanik commented on #133
### Rich integration using `rich-click`

#### Source code and package:
- `rich-click` package - https://github.com/ewels/rich-click
-  code changes and integrations - https://github.com/sayantikabanik/scipy/blob/testing_decorator/do.py

### Idea behind:
- GUI helps in elevating the contributor's experience, with feature additions like subgroups and rich helper texts.

#### Sample GUI look

![Scree

[2022-03-26 10:53] schettino72 commented on #133
Hey, sorry for delay, please check latest version on:
 https://github.com/schettino72/scipy/blob/cli-doit/do.py

The shebang `#! /usr/bin/env python3` should be good enough to find the correct python.
Myself don't really care as repeatedly typing `./` becomes annoying pretty quickly and I end-up creating an alias.

Note the current design of `--build-dir` before the command plays nicely with alias

[2022-03-28 05:30] Smit-create commented on #120
This comes from the `_unuran` submodule. A probable fix for this is:
[code]
So, do I need to fix that here https://github.com/scipy/unuran.git?

[2022-03-28 06:58] rgommers commented on #120
@Smit-create yes indeed, that is the place to make a change. That fix doesn't look correct though (using a hardcoded number like that is almost always a sign of trouble). The problem here seems to be that in this line:
[code]
`E_TABLE` isn't defined. Searching further in that file:
[code]
However, that's the wrong `E_TABLE` struct. There's a global definition in `mvtdr_struct.h`:
[code]
The code s

[2022-03-28 10:42] rgommers commented on #133
Thanks @schettino72 and @sayantikabanik - this is starting to look really good!

Yes, that makes sense. We can probably just document the alias (perhaps `alias dev='python do.py'` - note, not `do` because that's a Bash keyword and leads to obscure problems) and use that in all the examples. Anyway, can be left as a follow-up to avoid bikeshedding, for now `python do.py xxx` is fine.

Ah yes, that

[2022-03-28 15:01] schettino72 commented on #133
I was planning to handle it inside the task itself.. making it no-op with a print statement.

Works for me. Please make sure you update `doit` source from git.

This is related to `doit`, I am working on it. In the TODO list, this refers to:
- [ ] doit: add io task attribute to control capture/caching of stdout/stderr

ok

I removed it because it was just printing a message like "doctests not supp

[2022-03-28 16:30] rgommers commented on #133
Ah that works, nicer indeed if CLI args get passed through.

Ah yes indeed, forgot that it does that - I was just reviewing all the `dev.py` flags. Removal sounds good.

Makes sense. If we're going to use this in more projects and worry about stability we can always deal with it later.

That sounds like a good idea to me.

I'm fairly sure there's no appetite for changing that, there's just too muc

[2022-03-28 16:39] rgommers commented on #133
Argh, tricked by Pip once again. I did run `pip install https://github.com/pydoit/doit/archive/refs/heads/master.zip` but missed that Pip decided I already had `0.35.0.dev0` so didn't really need to reinstall it. Works now - sorry for the noise.

[2022-03-29 04:14] sayantikabanik commented on #133
Thanks, @schettino72 @rgommers

I have added the release tasks `notes` and `authors` along with some minor tweaks to incorporate markdown changes.
Currently, working directly on [cli-doit](https://github.com/sayantikabanik/scipy/commits/cli-doit) branch

[2022-03-29 04:21] sayantikabanik commented on #133
Sure, I shall look into the 03 options namely `--bench-compare`, `bench` and `lcov_html`

[2022-03-29 06:25] schettino72 commented on #133
I gave write access to my fork to you both...

[2022-03-29 06:33] sayantikabanik commented on #133
Thanks, @schettino72 shall I go ahead a create a PR (from my fork's branch) updating the branch to the latest?

[2022-03-29 08:13] schettino72 commented on #133
No need PR, just commit directly. Not a big deal if things break while we develop it...

[2022-04-01 10:11] rgommers commented on #133
@schettino72 we had a SciPy community meeting on Wednesday where we gave a quick preview of the new CLI. People seemed excited about it and keen to try it out. Not everything works yet, but I think your branch is in good enough shape to consider merging it into SciPy's `main` branch - as long as we don't add it to the contributor docs yet to not confuse new contributors if something is not working

[2022-04-01 18:11] schettino72 commented on #133
No problem for me to push a doit release whenever...

@rgommers I can not really understand the `--no-build` option.
Its description says `do not build the project (use system installed version)`. And the test code is:

[code]

So in fact it is using the build-dir. Should the message help be amended?

Or is there a way to run tests without a build? I could not figure out.
If I remove the build-dir

[2022-04-01 21:40] rgommers commented on #133
@schettino72 great, thanks! Maybe let's aim for getting a PR up in the main SciPy repo towards the end of next week (and a `doit` release before that), if that's okay with you?

Re `--no-build`: I think you're seeing a failure that ends in:
[code]
?

The bypassing of the build step can only work if `__import__('scipy')` succeeds. So say I'm switching between testing a conda or pip-installed SciPy,

[2022-04-01 21:42] rgommers commented on #133
I have just tested that the `PYTHONPATH` thing works. It's actually quite useful right now; I have a Meson build in my main repo, and an in-place build with `distutils` in a separate repo. `--no-build` can switch between the two quickly, so I can run a modified test in the main repo on both builds.

[2022-04-01 21:56] schettino72 commented on #133
OK

I just pushed a `--no-build` implementation before I read your response, I will test it according to your workflow later.

[2022-04-01 21:58] schettino72 commented on #133
oh, `dev.py`has an option `--pythonpath`. I included this only for "ENV" commands (python, ipython, shell).
Given your example of `--no-build` I guess it should be moved as Context option (same level as `--no-build`).

[2022-04-01 22:11] schettino72 commented on #133
# Questions

Can you take a look and make decision regarding the `doc` command?
I added support to build and of the `doc/makefile` targets, but I guess they should be exposed as click sub-commands.
Can you specify which targets should be exposed? all of them?

Right now you can do:

[code]

But CLI help not nice

---

Should we add dependencies (doit, click, etc) in `environment_meson.yml`

---

`

[2022-04-04 03:21] sayantikabanik commented on #133
@schettino72 I had a similar question in my discussion with @rgommers. For now, we can update the `do.py` with the setup requirements and instructions (keeping it standalone).

[2022-04-04 07:05] schettino72 commented on #133
Using `dev.py`: I could set the PYTHONPATH. but it always pick the test source given in PYTHONPATH not the local one.
So for now `do.py` `--no-build` skips the meson build/install but requires a install path.
Since `test` folder is in-place with source code, not sure how it would be possible to use local source code test with alternative installation...

Other update:

-`do.py` now does not rely o

[2022-04-04 07:05] Smit-create opened #138 "BLD: Build failure with Clang on Linux"
### Describe your issue.

Using the following command to build with `clang` on Linux:

[code]
I get the following error:
[code]

Meson logs:
[code]

Clang versions
[code]

### Reproducing Code Example

[code]

### Error message

[code]

### SciPy/NumPy/Python version information

Numpy: 1.21.4

[2022-04-04 07:06] schettino72 commented on #133
I will target a `doit` release on wednesday.

[2022-04-04 09:50] sayantikabanik commented on #133
For the fix, I have set the `Cython` version to default under `asv.conf.json`. Previously it was conflicting with the environment file.

[2022-04-05 10:18] sayantikabanik commented on #133
A few observations here -

1)  `python do.py refguide-check` failed for me stating the below error.  While `python do.py  refguide-check -s <submodule>` passes the checks . Did I miss something here?
[code]

2) `python do.py pep8 ` takes longer to run (pep8, pep8-diff). To the user a blank screen appears with no activity or logs initially, a message or progress bar could be helpful here.

3) `pyth

[2022-04-05 11:25] schettino72 commented on #133
@sayantikabanik thanks for the review:

Works for me. Your traceback is missing the actual error.
I changed this task to print command output in real-time.

Same behaviour as `dev.py`. Focusing on CLI now, hopefully we can work on improving individual commands after CLI merge.

same as `dev.py`

Anything after the `--` will be passed to the `pytest` test-runner. Check `pytest --help` to see availa

[2022-04-05 17:23] Smit-create commented on #32
Hi @rgommers

I was trying to build with ASAN and hopefully, now, I am getting something useful. I used the following commands:
1. Meson setup:
[code]
2. Building and Installing
[code]
3. Setting env variables:
[code]
4. Importing `scipy`
[code]

I get a long trace as below:
<details>
<summary> Log </summary>
<p>
[code]
</p>
</details>

My ubuntu kernel version: `5.4.0-105-generic`

[2022-04-06 14:50] sayantikabanik commented on #133
Thanks @schettino72

True, docstrings are the only way for now (https://github.com/pallets/click/issues/587)

I will try taking a closer look.

<details>

<summary> traceback </summary>

[code]
</details>

[2022-04-07 15:41] sayantikabanik commented on #133
It should not be a major blocker I believe. We might have a couple of more iterations based on the feedback we receive, there we could make more tweaks as we progress.

[2022-04-08 09:04] rgommers commented on #133
Hi @schettino72 and @sayantikabanik. Apologies for the delay in replying; I took a few days of holiday at the start of this week. Let me reply to all open questions from the last couple of days:

I think for now `html`, `html-scipyorg` and `show` are enough. Some of the rest needs removing, cleaning up, or is specific to doing a release (that we can add support for later). I also want to merge `ht

[2022-04-08 09:09] sayantikabanik commented on #133
We need rich-click(1.3.0) the latest release for the emojis to render. Could you please verify the version for rich-click?

[2022-04-08 09:19] rgommers commented on #133
Ah, that helps but incompletely:

<img width="269" alt="image" src="https://user-images.githubusercontent.com/98330/162405133-279d4c40-96c2-40b1-9010-efeb2b733a30.png">

Then I found https://github.com/ewels/rich-click/pull/51 and installed `rich-click` from `main`, but still no luck. Ah well, I can look into that later.

[2022-04-08 12:30] rgommers commented on #133
Also seeing a few missing emoji's there in left bottom corner:

<img width="408" alt="image" src="https://user-images.githubusercontent.com/98330/162435645-77d44ced-3d60-4963-b5e9-48c6b2054859.png">

Yes it is a nice touch. I'll try to figure this out first.

[2022-04-08 12:32] rgommers commented on #133
@schettino72 I think we're ready for a PR to SciPy now, at least I don't see anything blocking. Do you agree? Also, you did a lot of the heavy lifting here, so do you want to make the PR? Or @sayantikabanik or I can do it if you prefer that.

[2022-04-08 12:42] schettino72 commented on #133
I guess nothing blocking... I think better get it merged and move on with incremental improvements.
Including sub-command `doc` changes.

Minor thing... I would just consider making a final decision on the module name, instead of `do.py`.

No thanks. :grin:

[2022-04-08 12:53] schettino72 commented on #133
Maybe relevant... doit 0.35 is not on conda-forge yet.
https://anaconda.org/conda-forge/doit

[2022-04-08 13:16] rgommers commented on #133
Yes, @sayantikabanik opened a PR for that: https://github.com/conda-forge/doit-feedstock/pull/15. Should be updated soon. In the meantime, using `pip:` in the conda yaml file is fine (already correct in the `cli-doit` branch).

Makes sense. I'd be inclined to name it `dev.py` if that didn't already exist - maybe still the best name longer term. So we can keep `do.py` for now, and add a comment tha

[2022-04-08 15:01] bollwyvl commented on #133
Yep, me and the bots were sleeping.

Just merged the conda-forge PR, it'll be one-to-two hours before it's generally available on CDN.

Of note: there is no github tag for `0.35.0` yet: I usually use the diff between the two release tags to hand-tune version updates.

To that end, and as mentioned on the feedstock PR: While `auto` is really cool, I feel like many workflows don't even use it, and i

[2022-04-08 15:10] schettino72 commented on #133
Fixed. I forgot to push the tags (as always)

[2022-04-08 16:49] rgommers commented on #133
Thanks both!

[2022-04-08 18:03] rgommers commented on #133
This looks like an Arch Linux issue: https://chrpaul.de/2019/07/Enable-colour-emoji-support-on-Manjaro-Linux.html. This fixed it:
1. `sudo pacman -S noto-fonts-emoji`
2. Append the `<alias>` fonts to `~/.config/fontconfig/fonts.conf`
3. Restart Konsole

Let's leave it as is for now I'd say; if more people start chasing their tails on this we can choose to document it, or remove the emoji's.

[2022-04-10 16:26] rgommers commented on #120
Looks like we've fixed what needs fixing for now (modulo some discussion on the interpolative warnings PR). There's some warnings left, TBD later whether they need silencing. I'll close this.

[2022-04-10 16:26] #120 closed

[2022-04-15 05:05] mattip commented on #133
I was looking through issues and came across [this comment](https://github.com/scipy/scipy/issues/13308#issuecomment-826566790) that some `runtests.py` workflows do not pass environment variables into the workflow. In the comment it is the benchmarking task. Will doit solve this?

[2022-04-15 07:17] sayantikabanik commented on #133
under `do.py` which is a combination of doit, click & rich-click we are setting the environment variables for the tasks. While doit alone may not solve that. Currently, bench-compare is working with minor modifications in `asv.conf.json`.

 cc @schettino72 @rgommers for additional thoughts/comments

[2022-04-15 16:13] schettino72 commented on #133
@mattip I could not figure out what was the problem from the linked comment. doit is agnostic regading ENV variables. Just because we are using doit it should not solve the problem automatic, but it wont stay on the way either...

I guess a problem with executing commands outside of dev CLI is that importing `scipy` will pick-up source modules instead of built/installed.

[2022-04-15 16:27] schettino72 commented on #133
@rgommers I hope to continue to collaborate with this effort...
Apart from work on doit itself, next I plan to take a look at `lint/flake8` tasks.
Let me know if you have any specific thing you would like me to look at.

[2022-04-16 16:43] mattip commented on #133
@schettino72 the comment mentions that setting SCIPY_USE_PYTHRAN=0 in the environment, and then running `python runtests.py -n --bench` was not passing the environment variables into the subtask. This was later fixed in `runtests.py`. So I just wanted to make sure the new CLI passes environment variables through to the tasks.

[2022-04-17 15:45] rgommers commented on #133
Awesome, thanks @schettino72!

Is there anything left to do there? I thought it just works.

These are the things that come to mind (first two I'm sure you have on your radar already):
- moving the non SciPy specific out of `do.py`
- after `doit` becomes `noarch` on conda-forge, update `environment.yml`
- one thing we didn't pay attention to yet is the _Self-documenting_ suggestion on https://gith

[2022-04-18 13:51] schettino72 commented on #133
On the branch I was working on it would  take 40 seconds to run on my machine.
I am half way through it, demo + PR coming soon then it will be more clear :smiley:

Question: whatever I move out of `do.py` should also be available on Conda?
I still have not decided if I want to put it on doit core package, few trade-offs to consider...

I am targeting a new `doit` release this weekend, April 24.

`

[2022-04-18 14:28] rgommers commented on #133
Ah makes sense - I'll wait and see then:)

Yes indeed. But if it lands in another package we can package that for conda-forge as well, that should not be a big deal.

Yes that sounds like a nice thing to have.

That is true. Hmm, not 100% sure. If it's nontrivial, maybe we'll leave it for now?

Yes that makes perfect sense. I can deal with integrating the more niche commands when I get some bandwi

[2022-04-20 09:46] sayantikabanik commented on #133
One suggestion I have wrt to the `rich-click` style suggestions/emoji usage/pallet design.

- It would be nice to separate/abstract the pallet design components from the `do.py`.
- In the near future, we might have additions or a need to expand the design to other parts of SciPy. Having a separate component would be helpful to encourage reusability.

Not an immediate necessity but could be useful

[2022-04-20 23:27] schettino72 commented on #133
## moving the non SciPy specific out of do.py

I created a new package `pydevtool` [1] [2].

Any suggestion for a better name? :D
My idea is to put whatever relevant to use-cases similar to what is being done in SciPy.
CLI powered with doit + integration with other tools.

My working branch is https://github.com/schettino72/scipy/tree/cli-devtool

- Should I make a PR directly to SciPy main repo ?

[2022-04-22 15:54] schettino72 commented on #133
Hey, I just released doit 0.36.0.

Also  made some changes on reporting errors.
It might show message more then once but better then displaying nothing when an error occurs.
Errors messages can be hidden if explicitly coded for...

I guess I clear all tasks requested by you that I committed to do.
Anything else ?

Extra: `click` provides shell completion we should enable it somehow.

[2022-04-22 19:41] rgommers commented on #133
Thanks for all the hard work and updates @schettino72!

That's a really hard question! It sounds fine to me. There is a `pydevtools` already, but that should matter. `pydevcli` would be an alternative, but I don't think it's better - so `pydevtool` works:)

Directly to the main repo sounds good to me. I had a look at the diff, and this should be straightforward to merge.

This will be okay, since

[2022-04-25 12:16] schettino72 commented on #133
@rgommers see PR #16044

No, I didn't. Anyway I reverted most of the output changes, we can revisit that later...
I kept only the printing of meson/ninja executed commands. Hopefully non-controversial.

[2022-05-24 07:15] nkaretnikov commented on #32
so i've spent like an hour+ on this as well now. didn't get it work, but writing down my experience just in case.

1) adding `-Db_sanitize=address` to args in the `dev.py` file doesn't seem to work (i hardcoded it just to be sure). i get the same memory map error as above. now, there could be multiple causes of this, but i'm guessing it's just some mismatch between the compiled/instrumented code a

[2022-05-27 09:28] rgommers commented on #32
Hmm, I don't have much experience with this. @eli-schwartz is there anything that comes to mind here? I assume ASAN support in Meson is in good shape?

[2022-05-28 10:43] rgommers commented on #22
I opened https://github.com/scipy/scipy/issues/16293 for remaining items. I think we're good here, this issue served its purpose, so I'll close it. Thanks everyone.

[2022-05-28 10:43] #22 closed

[2022-05-29 19:13] eli-schwartz commented on #32
sanitizer support in Meson mostly means being context-aware for e.g. things like gnome gobject-introspection, and handling the correct per-compiler flag to define options via. (e.g. -fsanitize= vs /fsanitize=). It also detects when you mix that with b_lundef and triggers a warning.

The other thing it does is detect asan and set -fno-omit-frame-pointer.

[2022-05-29 20:10] carlkl commented on #132
I tested a fresh scipy checkout build with msys2 ucrt64 gcc-12.1 The `unknown conversion type character` warnings are all gone.
There are a lot of other warnings left. Should I open a different issue?

[2022-05-29 21:55] rgommers commented on #132
They should be, we fixed something in `f2py` and silenced the rest by this in `scipy/meson.build`:
[code]
I think the "there's still a problem in one of Cython, CPython or Mingw-w64" statement is still true though - unless you see it's gone in another test case or after removing the above flag?

Sure, that's always welcome.

[2022-05-30 11:05] carlkl commented on #132
I get no warnings with `add_global_arguments('-D__USE_MINGW_ANSI_STDIO=0', language: ['c', 'cpp'])`. However, I use Msys2 ucrt64 mingw-w64 gcc-12.1. This toolchain contains a proposed patch for gcc-13. see https://www.mail-archive.com/gcc-patches@gcc.gnu.org/msg284696.html. This patch is not included in the rtools toolchain.

[2022-05-31 10:41] #132 closed, assigned to nobody

[2022-05-31 10:50] carlkl commented on #132
I explicitly set `-D__USE_MINGW_ANSI_STDIO=0` instead of `1` to be sure, se yes _without_ `-D__USE_MINGW_ANSI_STDIO=1`.

[2022-05-31 10:55] rgommers commented on #32
I'm not sure that that will work, Flang isn't reliable yet AFAIK. It's possible that it'll work on Linux (no luck on Windows for sure), I can't remember anyone trying though.

I think you want to always use the default per OS, which is `libstdc++` on Linux and `libc++` on macOS, right?

Either way, you should be able to use
[code]
to configure the build to only pass that linker arg to C/C++.

[2022-05-31 10:55] rgommers commented on #132
Great, thanks for confirming.

[2022-05-31 13:43] carlkl opened #140 "ENH: Developing a dedicated compiler toolchain for windows scipy-meson builds"
### Is your feature request related to a problem? Please describe.

rtools (chocolatey) is currently being used for CI windows scipy-meson builds. However, rtools is behind the msys2 ucrt64 gcc toolchain in terms of features and patches. The recent ucrt64 msys2 gcc toolchain contains more complete setting of patches targeting all kind of different issues. On the other hand all msys2/mingw-w64 pack

[2022-06-02 10:42] nkaretnikov commented on #32
okay, i will give it another try sometime later and will report here

[2022-06-03 22:01] rgommers commented on #140
@carlkl thanks for the suggestion! I think it makes sense to do this in principle. Shall we move this issue to the main SciPy repo for more visibility? Now that we've merged Meson support into SciPy `main` after a year's worth of work on this repo, I think it's better to get more eyes on the next steps.

[2022-06-17 16:02] nkaretnikov commented on #32
@rgommers woo, i think i'm now able to build scipy with asan!

here's what i did:
- in the tree, deleted `build` and `build-install` just in case
- in `dev.py`, modified `setup_build` to include `cmd += ['-Db_sanitize=address']` right before `subprocess.call`, _probably can be done via the command line_ or we could add an option to the script for this
- ran `python dev.py -v -b`
- note: make sure

[2022-06-24 14:00] rgommers commented on #32
I have now verified this, introduced an issue in `ni_support.c` and then ran with the exact example code given in gh-16447 and got:

[code]

[2022-06-24 14:02] rgommers commented on #32
This is included in gh-16447

This may be useful later. Most people use GCC, but on macOS Clang will be needed. But let's leave it as is for now.

Closing, thanks @nkaretnikov!